@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
#divMain{
    margin: 0% 14%;
}
#firstContainer{
    width: 75%;
}
#mainImgFirst .divTrendingImg{
    float: left;
}

.divTrendingImg img{
    height: 210px;
    width: 150px;
    margin-right: 18px;
 }
 .imgDescription{
     width: 100px;
 }
 #firstContainer> h2{
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
  }
  .mainParh a{
    text-decoration: none;
    color: rgb(129, 33, 33);
  }
  .mainParh{
    color: rgb(78, 77, 77);
    font-size: 18px;
    margin-top: 4%;
    margin-bottom: 6%;
    line-height: 25px;
  }
  #firstContainer > h3{
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 7%;
    margin-bottom: 3%;
  }
 
 
/**************Header**********************/
#divMain h1{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 350%;
    padding: 2%;
}
.liIcons{
    display: inline-block;
    margin-left: 9%;
}
.liOptions{
    display: inline-block;
margin-left: 8%;  
}
.liOptions a{
    text-decoration: none; 
    font-size: 107%;
    color: black;
    }
#ulIcons{
    margin-top: 1.5%;
    margin-left: 2%;
    width: 15%;
}
#ulOptions{
    width: 60%;
    margin-top: 1.5%;
}
#divsearch{
    margin-left: 0;
    border: 1PX solid gray;
    width: 20%;
    margin-top: 0%;
}

#divHeaderOptions{
    height: 100%;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1% 0%;
}
#divsearch img{
    padding-right: 6px;
    padding-top: 15px;
width: 20px;
}
#divsearch input{
    width: 85%;
    border: none;
    font-size: 120%;
    color: black;
    padding: 5%;
}


/****************************************/
